 * {
        margin: 0;
        padding: 0;
        font-family: "Oswald", sans-serif;
  

      }
      h1,
      h2,
      h3 {

       font-family: "Oswald", sans-serif;
      }
      body {
        background-color: #eee2dc;
      }

      #menu {
        text-align: center;
        background-color: purple;
        text-decoration: none;
        list-style: none;
        padding: 20px;
        font-weight: 900;
        font-size:15px;
      }

      #menu li {
        display: inline-block;
        margin-left: 15px;
      }

      #menu a {
        border-radius: 30px;
        padding: 10px;
        text-decoration: none;
        color: white;
      }

      #menu a:hover {
        background-color: rgb(176, 21, 114);
      }

      #menu_logo {
        position: relative;
        height: auto;
        width: 90px;
        float: right;
        position: absolute;
        right: 4%;
        top: 10px;
      }

      #header {
        margin-top: 40px;
        
      }

      #header_title {
        text-align: center;
      }

      #sub {
        text-align: center;
        font-style: italic;
      }

      #logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      #header_logo {
        width: 500px;
        position: relative;
      }

      #Membres {
        margin-top: auto;
        background-color: #333;
        color: white;
        text-align: center;

        bottom: 0;
        width: 100%;
        height: auto;
        /* Height of the footer */
      }

      #table {
        font-size: 11px;
        display: flex;
        justify-content: center;
      }

      #table tr td {
        padding: 50px;
      }

      /* #Introduction p{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 6%;
        padding-right: 6%;
        font-family: sans-serif;
        } */
      #Introduction {
        width: 53%;
        display: flex;
        text-align: justify;
        padding-left: 25%;
        flex-wrap: wrap;
      }

      #Personnages {
        display: flex;
        background-color: rgb(122, 21, 112);
        color: white;

        text-align: justify;
        font-family: sans-serif;
        padding: 3%;
        vertical-align: middle;
        margin-top: 20px;
      }

      #Personnages img {
        width: 250px;
        padding: 10px;
        /* Changer la taille de l'image selon vos besoins */
        display: block;
        /* Pour centrer l'image */
        margin: 0 auto;
        /* Pour centrer l'image horizontalement */
        align-items: flex-start;
      }

      #Personnages p {
        padding: 70px;
        line-height: 20px;
      }

      #jouabilité img {
        width: 720px;
        display: block;
        margin: 0 auto;
      }

      #jouabilité {
        padding: 5%;
      }

      #jouabilité h1 {
        width: 100%;
        margin: 10px;
        text-align: center;
      }

      #h3_table {
        width: 100%;
        text-align: center;
      }

      #Téléchargement {
        width: 53%;
        display: flex;
        text-align: justify;
        padding-left: 25%;
        flex-wrap: wrap;
      }

      #Cahier-des-charges {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }

      #Rapports {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }

      .section-title {
        margin-bottom: 20px;
      }

      .section-content {
        margin-bottom: 20px;
      }

      #Cahier-des-charges embed,
      #Rapports embed {
        width: 50%;
        height: 600px;
      }

      #Cahier-des-charges a,
      #Rapports a {
        display: block;
        margin-top: 10px;
      }

      #Manuel {
        text-align: center;
        /* Centrer le contenu horizontalement */
      }

      #Manuel embed {
        display: block;
        margin: 0 auto;
        /* Centrer l'élément embed horizontalement */
      }

      #Manuel a {
        display: block;
        margin-top: 10px;
      }

      #Timeline {
        text-align: center;
        /* Pour centrer le contenu horizontalement */
      }

      #Timeline img {
        max-width: 100%;
        /* Pour contrôler la largeur maximale de l'image */
        height: auto;
        /* Pour conserver les proportions de l'image */
        display: block;
        /* Pour supprimer les espaces supplémentaires autour de l'image */
        margin: 0 auto;
        /* Pour centrer l'image horizontalement */
      }

      #Sources {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
      }

      #Sources .image-container {
        display: inline-block;
        margin: 10px;
      }

      #Sources img {
        padding: 10px;
        margin:40px;
        width: 100px;
        /* Définir la largeur de chaque image */
        height: auto;
        /* Pour conserver les proportions de l'image */
        object-fit: cover;
      }

      .btn-31,
      .btn-31 *,
      .btn-31 :after,
      .btn-31 :before,
      .btn-31:after,
      .btn-31:before {
        border: 0 solid;
        box-sizing: border-box;
      }

      .btn-31 {
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: button;
        background-color: #000000;
        background-image: none;
        
        color: #ffffff !important;
        cursor: pointer;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
          Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        font-size: 70%;
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
        -webkit-mask-image-: -webkit-radial-gradient(#000, #ffffff);
        padding: 0;
      }

      .btn-31:disabled {
        cursor: default;
      }

      .btn-31:-moz-focusring {
        outline: auto;
      }

      .btn-31 svg {
        display: block;
        vertical-align: middle;
      }

      .btn-31 [hidden] {
        display: none;
      }

      .btn-31 {
        border-width: 1px;
        padding: 1rem 2rem;
        position: relative;
        text-transform: uppercase;
      }

      .btn-31:before {
        --progress: 100%;
        background: #fff;
        -webkit-clip-path: polygon(
          100% 0,
          var(--progress) var(--progress),
          0 100%,
          100% 100%
        );
        clip-path: polygon(
          100% 0,
          var(--progress) var(--progress),
          0 100%,
          100% 100%
        );
        content: "";
        inset: 0;
        position: absolute;
        transition: -webkit-clip-path 0.2s ease;
        transition: clip-path 0.2s ease;
        transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
      }

      .btn-31:hover:before {
        --progress: 0%;
      }

      .btn-31 .text-container {
        display: block;
        overflow: hidden;
        position: relative;
      }

      .btn-31 .text {
        display: block;
        font-weight: 900;
        mix-blend-mode: difference;
        position: relative;
      }

      .btn-31:hover .text {
        -webkit-animation: move-up-alternate 0.3s ease forwards;
        animation: move-up-alternate 0.3s ease forwards;
      }

      @-webkit-keyframes move-up-alternate {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(80%);
        }

        51% {
          transform: translateY(-80%);
        }

        to {
          transform: translateY(0);
        }
      }

      @keyframes move-up-alternate {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(80%);
        }

        51% {
          transform: translateY(-80%);
        }

        to {
          transform: translateY(0);
        }
      }

      #table_download {
        width: 100%;
        height: auto;
        padding: 0;
        top: 0;
      }
      .tr_download {
        width: 100%;
        padding: 10px;
      }
      .td_download {
        padding: 10px;
      }
      .embed {
        height: 100px;
        width: 25%;
      }
